<div class="page-title">
    Le tue Polizze
</div>

<div *ngIf="this.listPolizze != null">
    <div class="row">
        <ng-container *ngFor="let polizzaItem of this.listPolizze">
            <!-- {{ polizzaItem.numeroPolizza }} -->
            <div class="col-md-4">
                <div class="document-card-wrapper">
                    <div class="document-card-title">
                        Polizza Auto
                    </div>
                    <div class="document-card-icon">
                        <img [src]="'./../../../assets/img/' + this.returnRamoIcon(polizzaItem.ramo)">
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>