<app-automation-config-wrapper [parentComponent]="this" >

    <div class="background-container-div">

        <div *ngIf="this.configurazioneSingolaCurrent == null ">



            <!-- tabella configurazione per collaboratore -->
            <div style="margin-top: 25px; margin-bottom: 30px;font-weight: 700;">In questa pagina puoi configurare i vari Solleciti inviati ai clienti. Clicca sull'icona di modifica per attivare o disattivare il Sollecito automatico e configurarne le proprietà.</div>

            <div class="process-container">
                <ng-container *ngFor="let configurazioneSingola of this.configuration.listaConfigurazioniSolleciti; let i = index">
                    <div>
                        <div class="step" [style.margin-top.px]="(i * 60)">
                            <div class="step-title" style="margin-bottom: 5px;">{{configurazioneSingola.keyDisplayText}}</div>
                            <span *ngIf="configurazioneSingola.isAttivo" class='badge bg-success'>ATTIVO</span>
                            <span *ngIf="!configurazioneSingola.isAttivo" class='badge bg-secondary'>NON ATTIVO</span>
                            <div style="margin-top:16px;">{{ configurazioneSingola.numeroGiorniPostScadenza }}° giorni</div>
                            <div>dopo scadenza</div>
                            <div *ngIf="i < 3" class="arrow"></div>
                            <button (click)="onEditClickTabellaConfigurazioneSingola(configurazioneSingola)" class="btn btn-action" style="font-size: 75%; margin-top: auto; margin-bottom: 10px;"><fa-icon [icon]="['fas', 'cogs']"></fa-icon></button>
                        </div>

                    </div>

                </ng-container>
            </div>

            <table *ngIf="this.configuration != null" class="datagrid slim" style="margin-bottom:40px;display:none;">
                <tbody>
                    <tr class="datagrid_header">
                        <td>Step Invio Sollecito</td>
                        <td>Inviato al</td>
                        <td>Attivo</td>
                        <td style="text-align:center"></td>
                    </tr>
                    <tr *ngFor="let configurazioneSingola of this.configuration.listaConfigurazioniSolleciti">
                        <td>{{ configurazioneSingola.keyDisplayText }}</td>
                        <td>{{ configurazioneSingola.numeroGiorniPostScadenza }}° giorno dopo scad.</td>
                        <td>
                            <span *ngIf="configurazioneSingola.isAttivo" class='badge bg-success'>ATTIVO</span>
                        </td>
                        <td style="text-align:center; padding-right:0px;"><button class="btn btn-action btn-small-icon-only" (click)="onEditClickTabellaConfigurazioneSingola(configurazioneSingola)"><fa-icon [icon]="['fas', 'pencil']"></fa-icon></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- tabella configurazione per collaboratore -->

        </div>

        <!-- edit singola configurazione produttore -->
        <div *ngIf="this.configurazioneSingolaCurrent != null">



                <div style="margin-top: 25px; margin-bottom: 15px;"></div>
                <!-- form impostazioni generiche -->
                <form [formGroup]="form" style="margin-bottom: 25px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="margin-bottom: 10px; font-weight: 700;">Imposta la configurazione per questo step di invio Solleciti e clicca sul pulsante per salvare le modifiche; attiva o disattiva questo invio automatico Solleciti, e imposta il numero di giorni oltre scadenza dopo i quali eseguire l'automatismo. La modalità di invio determina il canale di comunicazione che verrà usato per le comunicazioni al cliente.</div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Attivo</label>
                            <div class="input-group">
                                <select2 class="form-control" [data]="this.listaValoriSiNo" [formControl]="form.controls.isAttivo"></select2>
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Giorni dopo scadenza</label>
                            <div class="input-group">
                                <input type="text" class="form-control" [formControl]="form.controls.giorniPostScadenza">
                                <div class="invalid-field" *ngIf="this.giorniPostScadenzaShowValidationRequired">Indica il numero giorni dopo la scadenza per gli invii</div>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Modalità Invio</label>
                            <div class="input-group">
                                <select2 class="form-control" [data]="this.listaModalitaInvio!" [formControl]="form.controls.modalitaInvio" (ngModelChange)="modalitaInvioOnChange($event)"></select2>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div style="margin-bottom: 10px; margin-top: 30px; font-weight: 700;">Seleziona i modelli di email, stampa e sms che verranno utilizzati per le comunicazioni ai clienti.</div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Modello Email/Stampa</label>
                            <div class="input-group">
                                <select2 class="form-control" [data]="this.listaModelliInvioEmail!" [formControl]="form.controls.modelloEmail"></select2>
                                <div class="invalid-field" *ngIf="this.modelloEmailShowValidationRequired">Indica un modello per gli invii Email/Stampa</div>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Modello SMS</label>
                            <div class="input-group">
                                <select2 class="form-control" [data]="this.listaModelliInvioSMS!" [formControl]="form.controls.modellSMS"></select2>
                                <div class="invalid-field" *ngIf="this.modellSMSShowValidationRequired">Indica un modello per gli invii SMS</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div style="margin-bottom: 10px;margin-top: 30px; font-weight: 700;">Opzionalmente, invia un report via email all'Agenzia e/o ai Collaboratori con il riassunto dei solleciti rilevati per la giornata corrente</div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Report a Agenzia</label>
                            <div class="input-group">
                                <select2 class="form-control" [data]="this.listaValoriSiNo" [formControl]="form.controls.isReportAgenzia" (ngModelChange)="isReportAgenziaOnChange($event)"></select2>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Email destinatari report a Agenzia (separati da ';')</label>
                            <div class="input-group">
                                <input type="text" class="form-control" [formControl]="form.controls.destinatariReportAgenzia">
                                <div class="invalid-field" *ngIf="this.destinatariReportAgenziaShowValidationRequired">Indica indirizzo/i email per i destinatari report Agenzia</div>
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Report a Collaboratore</label>
                            <div class="input-group">
                                <select2 class="form-control" [data]="this.listaValoriSiNo" [formControl]="form.controls.isReportCollaboratore"></select2>
                            </div>
                        </div>
                        <div style="margin-top: 45px; display:flex; justify-content:end">
                            <button class="btn btn-generic btn-add-margin-right" (click)="onCancelClickFormConfigurazioneSingola()"><fa-icon [icon]="['fas', 'arrow-left']"></fa-icon></button>
                            <button class="btn btn-action btn-withicon" (click)="onSaveClickFormConfigurazioneSingola()">Salva Dettaglio Step<fa-icon [icon]="['fas', 'save']"></fa-icon></button>
                        </div>
                    </div>
                </form>
                <!-- form impostazioni generiche -->



        </div>
        <!-- edit singola configurazione produttore -->

    </div>

</app-automation-config-wrapper>
