.process-container {
    display: flex;
    justify-content: center;
}
.step {
    position: relative;
    width: 150px;
    height: 170px;
    background-color: #ffffff;
    border: 1px solid silver;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 15px;
  }

  .step-title {
    font-size: 15px;
    font-weight: 700;
  }