<app-automation-config-wrapper [parentComponent]="this">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-xs-12 form-group">
                <label for="externalId">Campo1</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="campoProva1" [formControl]="form.controls.campoProva1">
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <label for="externalId">Campo2</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="campoProva2" [formControl]="form.controls.campoProva2">
                </div>
            </div>
        </div>
    </form>
</app-automation-config-wrapper>
