<div id="automationWrapperDiv">

    <!-- page title -->
    <div class="automationPageTitle">Le tue Automazioni Attive</div>
    <!-- page title -->

    <div class="row">

        <!-- lista automazioni attive -->
        <div class="col-md-9">
            <div id="automationList" class="row">
                <ng-container *ngFor="let automazione of listaAutomazioni">
                    <div class="col-md-4" *ngIf="automazione.flagAttivo">
                        <div class="card">
                            <div class="card-body">
                                <div class="automationActiveCardCogsIcon" (click)="openEditAutomationModal(automazione.automationKey)">
                                    <fa-icon [icon]="['fas', 'cogs']"></fa-icon>
                                </div>
                                <h5 class="card-title automationActiveCardTitle">{{ automazione.titolo }}</h5>
                                <p class="card-text automationActiveCardTextWrapper">{{ automazione.descrizione }}</p>
                                <div class="pull-left">
                                    <span class="badge automationActiveCardBadge" [style.background-color]="tag.colore" *ngFor="let tag of automazione.tags">
                                        {{ tag.tagName }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <!-- lista automazioni attive -->

        <!-- spalla informativa -->
        <div class="col-md-3">
            <div id="addAutomationWrapper" class="withradius">
                <div class="addAutomationTitle">Nuova Automazione</div>
                <div class="addAutomationSubTitle">
                    Clicca sul pulsante qui sotto per selezionare, configurare
                    ed attivare un nuovo processo automatico all'interno del tuo
                    Sintesi.
                    <div style="height: 15px"></div>
                    Per modificare un automatismo già attivo o per visualizzare
                    lo storico delle attività, clicca sull'icona
                    <fa-icon [icon]="['fas', 'cogs']"></fa-icon>&nbsp;nella
                    lista qui a sinistra.
                </div>
                <div style="margin: auto; width: 80%">
                    <button type="button" id="btnNuovo" (click)="openAddAutomationModal()" class="form-control btn btn-action btn-withicon">
                        <span id="btnNuovo_text" class="btn-text">Aggiungi Automazione</span>
                        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                    </button>
                </div>
                <img src="../assets/img/automation.png" class="addAutomationWrapperImg" />
            </div>
        </div>
        <!-- spalla informativa -->

    </div>

    <!--popup aggiunta nuova automazione -->
    <ng-template #templateModalAddAutomation>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Attiva Nuova Automazione</h4>
            </div>
            <div class="modal-body">
                <p>
                    Clicca sull'automazione che desideri attivare per
                    iniziare la configurazione
                </p>
                <div
                    id="modalAddAutomationListContainer"
                    class="row withradius"
                >
                    <ng-container
                        *ngFor="let automazione of listaAutomazioni"
                    >
                        <div
                            class="modalAddAutomationListItem withradius row"
                            *ngIf="automazione.flagAttivo == false"
                        >
                            <div class="col-md-9">
                                <div
                                    class="modalAddAutomationListItemTitle"
                                >
                                    {{ automazione.titolo }}
                                </div>
                                <div
                                    class="modalAddAutomationListItemDescription"
                                >
                                    {{ automazione.descrizione }}
                                </div>
                                <div class="pull-left">
                                    <span
                                        class="badge automationActiveCardBadge"
                                        [style.background-color]="
                                            tag.colore
                                        "
                                        *ngFor="let tag of automazione.tags"
                                    >
                                        {{ tag.tagName }}
                                    </span>
                                </div>
                            </div>
                            <div
                                class="col-md-3 modalAddAutomationVerticallyCenter"
                            >
                                <div
                                    class="modalAddAutomationListItemArrow"
                                    (click)="
                                        addAutomation(
                                            automazione.automationKey
                                        )
                                    "
                                >
                                    <fa-icon
                                        [icon]="[
                                            'fas',
                                            'circle-arrow-right'
                                        ]"
                                    ></fa-icon>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="closeAddAutomationModal()" class="btn btn-action btn-withicon btn-generic">
                    <span id="btnAnnulla_text" class="btn-text">Annulla</span><fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
                </button>
            </div>
        </div>
    </ng-template>
    <!--popup aggiunta nuova automazione -->



</div>
