<!-- site wrapper -->
<div class="container-fluid d-flex h-100" id="site-wrapper">

  <!-- Sidebar -->
  <div class="flex-shrink-0" id="sidebar-wrapper">
    
    <!-- logo -->
    <div id="sidebar-logo"><img src="./../assets/img/logo.png"></div>
    <!-- logo -->

    <!-- menu -->
    <div>
      <nav id="sidebar-menu">
          <ul>
            <li><a routerLink="/home" routerLinkActive="active"><fa-icon [icon]="['fas', 'home']"></fa-icon>Homeaaa</a></li>
            <li><a routerLink="/polizze" routerLinkActive="active"><fa-icon [icon]="['fas', 'file-contract']"></fa-icon>Polizze</a></li>
            <li><a routerLink="/polizze1" routerLinkActive="active"><fa-icon [icon]="['fas', 'upload']"></fa-icon>Documenti</a></li>
            <li><a routerLink="/polizze2" routerLinkActive="active"><fa-icon [icon]="['fas', 'calculator']"></fa-icon>Preventivi</a></li>
            <li><a routerLink="/polizze3" routerLinkActive="active"><fa-icon [icon]="['fas', 'car']"></fa-icon>Sinistri</a></li>
          </ul>
        </nav>      
    </div>
    <!-- menu -->

  </div>
  <!-- Sidebar -->

  <!-- Page Content -->
  <div class="flex-grow-1" id="page-content-wrapper">
      <router-outlet></router-outlet>
  </div>
  <!-- Page Content -->

  <!-- Right pane -->
  <div id="infobar-wrapper">
      
  </div>
  <!-- Right pane -->

</div>
<!-- site wrapper -->



