<app-automation-config-wrapper [parentComponent]="this" >

    <div *ngIf="this.configurazioneSingolaCurrent == null ">

        <!-- tabella configurazione per collaboratore -->
        <div style="margin-top: 25px; margin-bottom: 15px;">In questa pagina puoi creare, modificare o rimuovere le pianificazioni automatiche per la creazione dei flussi avvisi per SiComunica. Sintesi userà le pianificazioni per comunicare verso SiComunica, in maniera automatica, i dati necessari per la creazione degli avvisi. Per ogni pianificazione, sarà possibile indicare la frequenza e i criteri per la selezione delle polizze per le quali generare i flussi. Clicca sul pulsante per creare una nuova pianificazione, o sull'icona con la matita per modificarne una esistente.</div>
        <button class="btn btn-action btn-withicon" style="margin-bottom: 15px;" (click)="onAddClickTabellaConfigurazioneSingola()">Crea Nuova Pianificazione Invio<fa-icon [icon]="['fas', 'plus']"></fa-icon></button>
        <table *ngIf="this.configuration != null" class="datagrid slim" style="margin-bottom:40px;">
            <tbody>
                <tr class="datagrid_header">
                    <td>Titolo Pianificazione</td>
                    <td>Frequenza</td>
                    <td style="text-align:center"></td>
                </tr>
                <tr *ngFor="let configurazioneSingola of this.configuration.listaConfigurazioniSingole">
                    <td>{{ configurazioneSingola.titoloConfigurazione }}</td>
                    <td>{{ this.ritornaDescrizioneFrequenza(configurazioneSingola.frequenzaPreparazioneAvvisi!)}}</td>
                    <td style="text-align:center; padding-right:0px;"><button class="btn btn-action btn-small-icon-only" (click)="onEditClickTabellaConfigurazioneSingola(configurazioneSingola)"><fa-icon [icon]="['fas', 'pencil']"></fa-icon></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- tabella configurazione per collaboratore -->
    </div>

    <!-- edit singola configurazione produttore -->
    <div *ngIf="this.configurazioneSingolaCurrent != null ">
        <div style="margin-top: 25px; margin-bottom: 15px;"></div>
        <!-- form impostazioni generiche -->
        <form [formGroup]="form" style="margin-bottom: 25px;margin-left:15px;margin-right:15px;">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div>Indica un titolo e la frequenza di preparazione flussi per questa pianificazione. Nel pannello a sinistra puoi includere o escludere le polizze per questa preparazione avvisi.</div>
                        </div>
                        <div class="col-md-12 form-group" style="margin-top:15px;">
                            <label>Titolo pianificazione</label>
                            <div class="input-group">
                                <input type="text" class="form-control" [formControl]="form.controls.titoloPianificazione">
                                <div class="invalid-field" *ngIf="this.titoloPianificazioneShowValidationRequired">Indica un titolo per questa pianificazione</div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group" style="margin-top:15px;">
                            <label>Frequenza Preparazione Flussi</label>
                            <div class="input-group">
                                <select2 class="form-control" [data]="this.listaValoriFrequenza" [formControl]="form.controls.frequenzaPreparazioneAvvisi"></select2>
                                <div class="invalid-field" *ngIf="this.frequenzaPreparazioneAvvisiShowValidationRequired">Indica una frequenza per questa pianificazione</div>
                            </div>
                        </div>

                        <div class="col-md-6 form-group" style="margin-top:15px;">
                            <label>Elabora anche se già elaborato</label>
                            <div class="input-group">
                                <select2 class="form-control" [data]="this.listaValoriElaboraSeElaborato" [formControl]="form.controls.elaboraSeElaborato"></select2>
                            </div>
                        </div>
                        <div class="col-md-6 form-group" style="margin-top:15px;">
                            <label>Destinatario Capogruppo</label>
                            <div class="input-group">
                                <select2 class="form-control" [data]="this.listaValoriCapogruppoDestinatario" [formControl]="form.controls.destinatarioCapogruppo"></select2>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="wrapper_filtri row">
                        <div class="col-md-12" style="margin-bottom:10px;">
                            <strong>Filtra documenti per questa Pianificazione</strong>
                        </div>
                        <div class="col-md-12 form-group" style="margin-bottom:10px;">
                            <label>Compagnie</label>
                            <div class="input-group">
                                <select2 class="form-control" [data]="this.listaCompagnie!.toSelect2Elements('descrizione','id')" [formControl]="form.controls.compagnie" [multiple]="true"></select2>
                            </div>
                        </div>
                        <div class="col-md-12 form-group" style="margin-bottom:10px;">
                            <label>Collaboratori</label>
                            <div class="input-group">
                                <select2 class="form-control" [data]="this.listaProduttori!.toSelect2Elements('descrizione','id')" [formControl]="form.controls.produttori" [multiple]="true"></select2>
                            </div>
                        </div>
                        <div class="col-md-12 form-group" style="margin-bottom:10px;">
                            <label>Tipi documento</label>
                            <div class="input-group">
                                <select2 class="form-control" [data]="this.listaTipiDocumento!.toSelect2Elements('descrizione','id')" [formControl]="form.controls.tipiDocumenti" [multiple]="true" [listPosition]="'above'"></select2>
                            </div>
                        </div>
                        <div class="col-md-12 form-group" style="margin-bottom:10px;">
                            <label>Frazionamento</label>
                            <div class="input-group">
                                <select2 class="form-control" [data]="this.listaFrazionamenti!.toSelect2Elements('descrizione','id')" [formControl]="form.controls.frazionamenti" [multiple]="true" [listPosition]="'above'"></select2>
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Scadenze Auto</label>
                            <div class="input-group">
                                <select2 class="form-control" [data]="this.listaValoriScadenzeAuto" [formControl]="form.controls.scadenzeAuto" [listPosition]="'above'"></select2>
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Scadenze RE</label>
                            <div class="input-group">
                                <select2 class="form-control" [data]="this.listaValoriScadenzeRE" [formControl]="form.controls.scadenzeRe" [listPosition]="'above'"></select2>
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Scadenze Vita</label>
                            <div class="input-group">
                                <select2 class="form-control" [data]="this.listaValoriScadenzeVita" [formControl]="form.controls.scadenzeVita" [listPosition]="'above'"></select2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="margin-top: 25px;justify-content: end;display:flex;padding:0px !important">
                    <button class="btn btn-generic btn-add-margin-right" (click)="onCancelClickFormConfigurazioneSingola()"><fa-icon [icon]="['fas', 'arrow-left']"></fa-icon></button>
                    <button class="btn btn-generic btn-add-margin-right" (click)="onDeleteClickFormConfigurazioneSingola()"><fa-icon [icon]="['fas', 'trash']"></fa-icon></button>
                    <button class="btn btn-action btn-withicon" (click)="onSaveClickFormConfigurazioneSingola()">Salva Pianificazione Invio<fa-icon [icon]="['fas', 'save']"></fa-icon></button>
                </div>
            </div>
        </form>

        <!-- form impostazioni generiche -->
    </div>
    <!-- edit singola configurazione produttore -->

</app-automation-config-wrapper>
