/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html {
    height: 100%;
}
body {
    padding: 30px 30px 30px 30px;
    background-color: #d3d3d3;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}  

#site-wrapper {
}

#sidebar-wrapper{
    padding: 20px 20px;
    background-color:#fff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#sidebar-logo {
    width:300px;
    display:block;
    display:flex;
    justify-content: center;
}
#sidebar-logo img {
    width:200px;
}

#sidebar-menu {
    display: flex;
    justify-content: center;
    margin-top:50px;
}
#sidebar-menu ul {
    width: 200px;
}
#sidebar-menu li {
    margin-bottom: 24px;
    padding: 10px 15px;
    border-radius: 8px;
}
#sidebar-menu li:has(a.active){
    background-color:#e5e5e5;
}
#sidebar-menu li a {
    color:#7a7a7a;
}
#sidebar-menu li a.active {
    color:black;
}
#sidebar-menu li a .ng-fa-icon {
    margin-right:10px;
}

#page-content-wrapper{
    background-color:#f6f6f6;
    padding: 40px 20px 20px 20px;
}

#infobar-wrapper{
    background-color: #f6f6f6;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 400px;
    border-left: 1px solid silver;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#infobar-ragione-sociale{
    font-size:2rem;
    margin-bottom:10px;
}
#infobar-sede {
    margin-bottom:10px;
}
#infobar-orari {
    margin-top:30px;
    font-size: 0.8rem;
}
.infobar-orari-day{
    font-weight: 700;
    width: 40px;
    display: block;
    float: left;
}
#infobar-contatti {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#infobar-contatti .ng-fa-icon {
    color:#9297d9;
}
#infobar-map {
    margin-top:20px;
}
#infobar-map img {
    width:300px;
    height: 300px;
}
#infobar-icons{
    margin-top:50px;
}
#infobar-icons img {
    width: 26px;
    height: 26px;
    margin-right: 10px;
}
#infobar-icons img:hover {
    cursor: pointer;
}


/* page common elements */
.page-title {
    font-size:2.2rem;
}
/* page common elements */



/* resets */
a 
{
    text-decoration: none;
}
    a:hover {
        color: inherit;
    }
ul {
    list-style-type: none;
    padding-left: 0; /* Remove default padding */
}
li {
    padding-left: 0; /* Optional: Remove padding from list items */
} 
/* resets */