/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
    padding: 20px 20px;
    background-color: #bcd2f3;
}

#site-wrapper {
    border-radius: 20px;
    background-color:#f1f2f7;
    padding-top: 20px;
    padding-bottom:20px;
}

#sidebar-wrapper{
    padding: 20px 20px;
}

#page-content-wrapper{

}